:root{
    --navyBlue : #1E2737;
    --lightNavyBlue:#2B3348;
    --headignNavyBlue : #171725;
    --oceanGreen : #58BDB4;
    --lightGrey : #D5D5DC;
    --blueColor:#50B5FF;
    --purpleColor:#A700AC;
    --VoiletColoor:#6853C3;
    --whiteColor:#fff;
    --lightGrey:#B5B5BE;
    --darkGrey1:#44444F;
    --darkGrey2:#2E2E2E;

}